# This is a place to define additional library requirements needed to run the project.

#-------------------------------------
#Google libraries
#-------------------------------------
GoogleAppEngineCloudStorageClient
google-api-python-client
google-cloud-firestore
google-cloud-datastore
google-cloud-redis
google-cloud-logging==1.11.0
google-cloud-storage
google-cloud-tasks
google-auth

#-------------------------------------
#optional / useful libraries
#-------------------------------------
requests
requests_toolbelt

#-------------------------------------
#nesessary libraries
#-------------------------------------
jinja2
webob
pillow

#-------------------------------------
#xeno-viur libraries
#-------------------------------------
PyYAML          # read yaml configs
apscheduler     # deferred Tasks and cron
colorlog        # better logging

#-------------------------------------
#xeno-viur databases
#-------------------------------------
unqlite
#mongodb
#arangodb
